// Спецификация

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
}

@media (min-width: 360px) {
    .container {
        max-width: 1550px;
    }
}

// Хедр

.box__items {
    @media screen and (max-width: 576px) {
        vertical-align: middle;
        text-align: center;
    }
}

.header__logo {
    padding: 35px 0px 45px;
    ;
}

.center__logo {
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (max-width: 320px) {
        padding-left: 45px;
        padding-right: 45px;
    }
}

.number {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;

    @media screen and (max-width: 696px) {
        font-size: 24px;
    }
}

.adres__block {
    margin-top: -10px;

    a {
        color: #5e7daf;
        text-decoration: underline;
    }

    @media screen and (max-width: 696px) {
        margin: 0;
    }
}

.block__number {
    text-align: right;

    @media screen and (max-width: 578px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 575px) {
        text-align: center;
    }
}

.number__text__small {
    margin-bottom: 0;
}

.feedback {
    margin-top: -15px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    color: #5e7daf;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    text-align: right;

    @media screen and (max-width: 320px) {
        background-color: #5e7daf;
        padding: 10px 25px;
        margin-top: 10px;
        color: #fff;
        border-radius: 3px;
        justify-content: center;
    }
}

.text__adres {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;

}

.click__on__map {
    margin-top: -15px;

    @media screen and (max-width: 576px) {
        font-size: 18px;
        margin-top: 15px;
    }
}


.sasp__logo::before {
    content: '';
    position: absolute;
    width: 85px;
    height: 45px;
    left: 0;
    margin-top: 20px;
    background: url(/img/logo__sasp.png) center 0 no-repeat;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}



.sasp__text {
    margin-left: 80px;
    color: #002D41;
    font-weight: 450;
    @media screen and (max-width: 576px) {
        text-align: left;
    }
}


// Меню
.box__line__menu {
    background-color: #ecf5fe;
}

// Бэкграунд

.background {
    background: url(../img/bgheader.png) no-repeat;
    background-size: cover;
}

.bg__gradient {
    background: url(../img/gradient.png) no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    padding: 35px 0px;
}

.bg__text__head {
    font-size: 36px;
    font-weight: 550;
    color: #000;
    vertical-align: middle;
    text-align: center;
}

.bg__text__small {
    font-size: 16px;
    font-weight: 450;
    color: #000;
    vertical-align: middle;
    text-align: center;
    line-height: 1.8;
}

.bg__text__naks {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    vertical-align: middle;
    text-align: center;
}

.bg__line {
    border-bottom: 1.5px solid #3eb5f1;
    width: 5%;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    ;
}

.online__zayavka__button {
    vertical-align: middle;
    text-align: center;
}

.button__zayavka {
    background-color: #3eb5f1;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        background-color: #35a9e4;
        transition: 0.2s;
    }

    &:active {
        background-color: #2891c5;
        transition: 0.2s;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// Контентная часть left column

.header__name {
    color: #000;
    font-size: 28px;
    font-weight: 500;
    margin-top: 80px;
}

.text__medium {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}

.box__info__text__small{
    margin-left: 15px;
}

.info__text__small::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -15px;
    margin-top: 8px;
    background: url(../img/paragraph_arrow.png) center 0 no-repeat;
  }


.info__text__small {
    font-size: 16px;
    font-weight: 450;
    color: rgb(82, 82, 82);    
}

.header__name__small{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.img_box{
    margin-right: 15px;
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.hover__img{
    background-color: #fff;
}

// Услуги right column

.button__services a{
    text-decoration: none;
}

.box__serv a {
    font-size: 20px;
    color: #fff;
}

.box__service {
    background-color: #f7f7f7;
    padding: 35px;    
    width: 600px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.03);
    margin-bottom: 15px;
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.box__service:hover {
    background-color: #f0f0f0;
    transition: 0.2s;
    margin-left: 10px;
}

.services__name{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    margin: 0;
}